<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet"  href="./../assets/css/style.css">
</head>
<body>
    <h1>{{ pageTitle }}</h1>
    <h2>{{ subTitle }}</h2>
    <h3>{{newVar}}</h3>
    {{!-- <h1>25.04</h1> --}}
    <h3>zajęcia projektowe</h3>
    <a href='/portfolio'>portfolio</a><br><hr><hr>
    <input type="text" id='example'>
<button id='action'>Klik</button>
<button id='clear'>Wyczyść</button>
<p id='text' class='text-placeholder'>tu pojawi się tekst</p>
    <script src='./../js/func.js'></script>
</body>
</html>